*{
    box-sizing: border-box;
}

:root{
    font-size: 20px;
    --black: #000000;
    --white: #FFFCFC;
    --gray: #E5E5E5;
    --brown: rgba(163, 83, 10, 0.7);
    font-family: 'Rosario', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--white);
    overflow-x: hidden;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

div, ul, li, img, p, a{
    margin: 0;
    padding: 0;
}

input, textarea{
    margin: 0;
    padding: 0;
}


/* font-family: 'Rosario', sans-serif;
font-family: 'Volkhov', serif; */


/* Start header */


header{
    height: 129px;
    width: 100%;
    display: flex;
    background: var(--black);
    color: var(--white);
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
}

.header__nav a{
    height: 100%;
}

.header__nav{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-grow: 1;
}

.nav{
    width: 75%;
    display: flex;
    justify-content: space-between;
    font-style: italic;
    padding-right: 20px;
    align-items: center;
}

.header__link a{
    display: inline-block;
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: .4;
    width: 100%;
    padding: 25px 0px;
}

.header__link a:hover{
    transform: scale(1.1);
    text-decoration: underline;
}


/* end header */
/* start main */

/* gallary */

.gallary{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 0;
    gap: 20px;
}

.gallary__wrapper{
    width: 25%;
}

.gallary img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
}

.gallary__wrapper > .pair{
    padding-bottom: 40px;
}

.gallary__wrapper:nth-of-type(1){
    position: relative;
    transform: translateX(-50vw);
    animation: pic1 1.5s linear forwards;
    animation-delay: 2s;
}

.gallary__wrapper:nth-of-type(2){
    position: relative;
    transform: translateX(-50vw);
    animation: pic1 1.5s linear forwards;
    animation-delay: 1s;
}

.gallary__wrapper:nth-of-type(3){
    position: relative;
    transform: translateX(50vw);
    animation: pic2 1.5s linear forwards;
    animation-delay: 1s;
}

.gallary__wrapper:nth-of-type(4){
    position: relative;
    transform: translateX(50vw);
    animation: pic2 1.5s linear forwards;
    animation-delay: 2s;
}

@keyframes pic1{
    form{
        transform: translateX(-50vw);
    }

    to{
        transform: translateX(0);
    }
}

@keyframes pic2{
    form{
        transform: translateX(50vw);
    }

    to{
        transform: translateX(0);
    }
}

/* services */

.services{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 30px 0 0;
}

.services__wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 30px;
}

.ellips{
    width: 48%;
    height: 45%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.ellips img{
    display: block;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.ellips p{
    font-style: italic;
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    align-items: center;
}

.services__photo{
    width: 100%;
    height: 100%;
}

.services__photo img{
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
}

.ellips:nth-of-type(1){
    position: relative;
    animation: serv1 6s linear infinite;
}

.ellips:nth-of-type(2){
    position: relative;
    animation: serv2 6s linear infinite;
}

.ellips:nth-of-type(3){
    position: relative;
    animation: serv3 6s linear infinite;
}

.ellips:nth-of-type(4){
    position: relative;
    animation: serv4 6s linear infinite;
}

@keyframes serv1{
    0%{
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: 50%;
    }
    50% {
        top: 50%;
        left: 50%;
    }
    75% {
        top: 50%;
        left: 0;
    }
    100%{
        top: 0;
        left: 0;
    }
}

@keyframes serv2{
    0%{
        top: 0;
        right: 0;
    }
    25% {
        top: 50%;
        right: 0;
    }
    50% {
        top: 50%;
        right: 50%;
    }
    75% {
        top: 0;
        right: 50%;
    }
    100%{
        top: 0;
        right: 0;
    }
}

@keyframes serv3{
    0%{
        top: 0;
        left: 0;
    }
    25% {
        top: -50%;
        left: 0;
    }
    50% {
        top: -50%;
        left: 50%;
    }
    75% {
        top: 0;
        left: 50%;
    }
    100%{
        top: 0;
        left: 0;
    }
}

@keyframes serv4{
    0%{
        top: 0;
        right: 0;
    }
    25% {
        top: 0;
        right: 50%;
    }
    50% {
        top: -50%;
        right: 50%;
    }
    75% {
        top: -50%;
        right: 0;
    }
    100%{
        top: 0;
        right: 0;
    }
}

/* team */

.team{
    padding: 30px 0;
}

.title__team{
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    align-items: center;
    text-align: center;
}

.team__wrapper{
    display: flex;
    width: 90%;
    height: 677px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 30px;
    gap: 35px;
}

.team__wrapper:hover img{
    filter: brightness(50%);
}

.name{
    width: 23%;
    height: 100%;
    position: relative;
}

.name>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
    display: flex;
}

.name p{
    display: none;
    width: 100%;
    height: 23%;
    font-family: 'Volkhov', serif;
    font-style: normal;
    color: var(--white);
    background: rgba(163, 83, 10, 0.7);
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.2;
    text-align: center;
    align-items: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.name:hover>img{
    filter: brightness(100%);
}

.name:hover>p{
    display: block;
}

/* contacts */

.contact{
    padding: 30px 0;
}

.contact__wrapper{
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.message{
    width: 48%;
}

.title__contact{
    display: flex;
    font-style: italic;
    font-weight: 700;
    font-size: 2.3rem;
    text-align: center;
    padding-bottom: 30px;
}

.contact__form form{
    background: var(--gray);
}

input{
    font-family: 'Rosario', sans-serif;
    width: 42%;
    height: 80px;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    align-items: center;
    border: none;
    margin-top: 30px;
    margin-left: 30px;
    padding: 10px;
}

textarea{
    font-family: 'Rosario', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    resize: none;
    width: 90%;
    height: 210px;
    align-items: center;
    border: none;
    margin: 30px;
    padding: 10px;
}

.map{
    width: 48%;
}

.map>iframe{
    width: 100%;
    height: 100%;
}

.container__adress{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 30px 0px 0px;
}

.adress{
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
}

span{
    font-style: italic;
    font-size: 1.2rem;
}

.contact__work{
    font-weight: 700;
    align-items: center;
    text-align: center;
}

.time{
    font-style: normal;
    font-size: 1.5rem;
}

.work__open{
    font-style: italic;
    font-size: 1.3rem;
    padding-top: 40px;
}

.contact__social{
    font-weight: 700;
    align-items: center;
    text-align: center;
}

.sociale{
    font-style: italic;
    font-size: 1.5rem;
}

.contact__social img{
    padding-right: 10px;
}

.padding{
    margin-right: 25px;
}


/* end main */